/*=====================================*/
                /*GENERAL*/
/*=====================================*/
body {
    padding: 0;
    margin: 0;
}


/*=====================================*/
                /*HEADER*/
/*=====================================*/
.jumbotron {
    margin-bottom: 0px;
    text-align: center;
}
.title {
    font-size: 130%;
}


/*=====================================*/
                /*ABOUT*/
/*=====================================*/
#about {
    margin-top: 30px;
    margin-bottom: 20px;
}
#about img {
    margin-bottom: 15px;
}

/*=====================================*/
                /*PROJECTS*/
/*=====================================*/
#projects .row {
    margin-bottom: 20px;
}
#projects hr {
    width: 50px;
    background-color: lightgray;
}

/*=====================================*/
                /*FOOTER*/
/*=====================================*/
footer {
    text-align: center;
    font-size: 80%;
    background-color: #343a40;
    color: #fff;
    padding-top: 15px;
    width: 100%;
    position: absolute;
    border-bottom: 0;
    left: 0;
    z-index: 2001;
}