body {
    padding: 0;
    margin: 0;
}
.jumbotron {
    margin-bottom: 0px;
    text-align: center;
}
.title {
    font-size: 130%;
}
#about {
    margin-top: 30px;
    margin-bottom: 20px;
}
#about img {
    margin-bottom: 15px;
}