/*=====================================*/
                /*GENERAL*/
/*=====================================*/
body {
    padding: 0;
    margin: 0;
}
hr {
    width: 50px;
    background-color: lightgray;
}

/*=====================================*/
                /*HEADER*/
/*=====================================*/
.jumbotron {
    margin-bottom: 0px;
    text-align: center;
}
.title {
    font-size: 130%;
}


/*=====================================*/
                /*ABOUT*/
/*=====================================*/
#about {
    margin-top: 30px;
    margin-bottom: 20px;
    padding-top: 70px;
}
#about .author-img {
    text-align: center;
}
#about img {
    margin-bottom: 15px;
}

/*=====================================*/
                /*PROJECTS*/
/*=====================================*/
#projects {
    padding-top: 70px;
}
#projects .row {
    margin-bottom: 20px;
}
#projects .project-img {
    text-align: left;
    margin-top: 20px;
    }
#projects img {
    border: 5px solid lightgray;
    border-radius: 15px;
    width: 400px;
}
#projects h4 {
    padding-top: 20px;
    }

/*=====================================*/
                /*CONTACT*/
/*=====================================*/
#contact {
    padding-top: 70px;
    padding-bottom: 50px;
}
#contact button {
    background-color: #e67e22;
    padding: 6px 10px;;
}
#contact a {
    color: #fff;
    font-size: 110%;
}

/*=====================================*/
                /*FOOTER*/
/*=====================================*/
footer {
    text-align: center;
    font-size: 80%;
    background-color: #343a40;
    color: #fff;
    padding-top: 15px;
    width: 100%;
    position: absolute;
    border-bottom: 0;
    left: 0;
}
#links a {
    font-size: 30px;
    padding: 20px;
}
#links .github {
    color: lightgray;
}
#links .linkedin {
    color: #0073b1;
}
#links .twitter {
    color: rgba(130, 219, 53, 0.74);
}

@media (min-width: 768px) {
    #about .author-img {
    text-align: left;
}
    #projects img {
        width: 500px;
    }
    #projects h4 {
        padding-top: 0px;
    }
}